{% extends "base.html" %}

{% block title %}About | Manipal BioMachines{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4">About</h1>
    <p>We are a group of synthetic biology enthusiasts.</p>

    <h2>Our Vision</h2>
    <p>Our vision is to create a world where synthetic biology is used to solve real world problems.</p>

    <h2>What is iGEM?</h2>
    <p>The iGEM Foundation is an independent, non-profit organization dedicated to the advancement of synthetic
        biology, education and competition, and the development of an open, collaborative, and cooperative
        community.</p>
</div>
{% endblock %}