{% extends "base.html" %}

{% block title %}About | Manipal BioMachines{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4">About</h1>
    <p>We are a group of synthetic biology enthusiasts.</p>

    <h2>Our Vision</h2>
    <p>Our vision is to create a world where synthetic biology is used to solve real world problems.</p>

    <h2>What is iGEM?</h2>
    <p>The iGEM Foundation is an independent, non-profit organization dedicated to the advancement of synthetic
        biology, education and competition, and the development of an open, collaborative, and cooperative
        community.</p>

    <h2>Manipal BioMachines</h2>
    <p>Manipal BioMachines, established in 2019, is a multi-disciplinary student project with aspiring undergraduates of
        the first official Synthetic Biology and International Genetically Engineered Machine Competition (iGEM) team
        from MAHE.</p>
    <p>Main objective of the team lies in combining engineering principles with fundamental biology. Every year, team
        gets engaged into design, build, test, and characterize a genetically engineered system that can be operated to
        solve real-world problems.</p>
    <p>In 2020, team marked its entry into iGEM to showcase its research and invention. In the past two years, i.e.,
        2020 and 2021, team won a gold medal and a bronze medal, respectively.</p>
    <p>Team was amongst 173 Gold Medal winners, out of 350 teams participated, during iGEM 2022 held at Paris, during
        October, 2022. It was amongst the 5 nominees selected for Best Track prize of the 23 teams participating in the
        Food and Nutrition track at the competition.</p>
    <p>Furthermore, of the 350+ teams participating in Igem 2022, it was amongst the:
    <ul>
        <li>11 teams nominated for Best Software</li>
        <li>13 teams nominated for Best Education</li>
        <li>31 teams nominated for Best Presentation</li>
        <li>30 teams nominated for Best Wiki</li>
    </ul>
    </p>
    <p>
        <b>Faculty Advisor:</b><br>
        Dr. Ritu Raval <br>
        Department of Biotechnology <br>
        Mail: ritu.raval@manipal.edu
    </p>

    <p>
        <video width="100%" autoplay muted>
            <source
                src="https://manipal.edu/content/dam/manipal/mu/mit/images/MIT%20experience/videos/mitstudentprojects2022updated/14ManipalBioMachines.mp4"
                type="video/mp4">
            Your browser does not support the video tag.
        </video>
    </p>

    <a href="https://www.manipalthetalk.org/manipal/clubs-manipal-technical-teams/#Biomachines" target="_blank">
        https://www.manipalthetalk.org/manipal/clubs-manipal-technical-teams/#Biomachines
    </a>

</div>
{% endblock %}