{% extends "base.html" %}

{% block title %}Contact us | Manipal BioMachines{% endblock %}

{% block content %}
<div class="container">
    <h1 class="display-4">Contact us</h1>

    <ul class="list-unstyled">
        <li><a href="https://www.instagram.com/manipalbiomachines">Follow on
                Instagram</a></li>
        <li><a href="https://in.linkedin.com/company/manipal-biomachines">Connect
                on LinkedIn</a></li>
        <li><a href="https://twitter.com/m_biomachines?t=EmCfYt5V-Q6pa5j1KyXSYA&s=09">Follow on
                Twitter</a></li>
        <li><a href="https://linktr.ee/manipal_biomachines">Linktree</a></li>
        <li><a href="mailto:manipalbiomachines.igem@gmail.com">Email us</a></li>
    </ul>
</div>
{% endblock %}