{% extends "base.html" %}

{% block title %}Team | Manipal BioMachines{% endblock %}

{% block content %}
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light display-4">Team</h1>
                <p class="lead text-muted">The people behind the magic!</p>
            </div>
        </div>
    </section>

    <div class="album py-5 bg-light">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3" data-masonry='{"percentPosition": true }'>
                {% for person in data %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="https://static.igem.wiki/teams/4200/wiki/attributions/{{person.src}}"
                            alt="{{person.name}}" x="50%" y="50%" width="100%" height="100%">

                        <div class="card-body">
                            <small class="text-muted">{{person.lead}}</small>
                            <p class="card-text h3">{{person.name}}</p>
                            <div class="d-flex justify-content-between">
                                <p>{{person.about}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</main>
{% endblock %}